.search_part{
  display: flex;
  justify-content: center;
}
.filters{
  display: flex;
  flex-direction: column;
}
.domain_filter{
  margin: 5px;
}
.gender_filter{
  margin: 5px;
}
.avail_filter{
  margin: 5px;
}
.head{
  text-decoration: underline;
}
.button_card{
  background-color: rgb(97, 224, 97);
}
.card_div{
  cursor: pointer;
  transition: transform 0.5s;
}
.card_div:hover {
  transform: translateY(-15px);
  
}
/* .main_div{
  background-color: rgb(229, 226, 226);
} */
/* .list_div{
  background-color: rgb(63, 61, 61);
}
.team_div{
  background-color: rgb(63, 61, 61);
} */